<html>
<head>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<meta charset="UTF-8">
	<title>Ejemplo con variables</title>
</head>
<body>
		<h1>Bienvenido {{ usuario }} </h1>
		
		<div class="container">
		  <h2>Button Sizes</h2>
		  <button type="button" class="btn btn-primary btn-lg">Large</button>
		  <button type="button" class="btn btn-primary btn-md">Medium</button>    
		  <button type="button" class="btn btn-primary btn-sm">Small</button>
		  <button type="button" class="btn btn-primary btn-xs">XSmall</button>
		</div>
</body>
</html>